.container {
    max-width: 1048px;
    margin: 80px auto;
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    column-gap: 1%;
    row-gap: 10px;
    
    img {
        width: 100%;
        height: auto;
    }
}